header{
    width: 100%;
    height: 10vh;
    background: #393D49;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-wrapper{
    position: relative;
    left: 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper a{
    font-family: Rubik, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    transition: all ease-in-out 0.3s;
    border-radius: 25px;
    text-decoration: none;
    padding: 8px 15px;
}

.header-wrapper a:hover,
.header-wrapper a:focus{
    font-size: 3em;
    color: #6c5ce7;
    background: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}