<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <title>星瞳网</title>
     <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-3.6.0.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="https://kit.fontawesome.com/848242470e.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="icon">
            <img src="/static/images/icon.png">
        </div>
        <a href="/">首页</a>
        <a href="/user/1">用户推荐</a>
        <a href="/login">登录</a>
        <a href="#" onclick="logout()">注销</a>
        <script id="rrbayJs" src="//wza.rrbay.com/js/wza.min.js?5bf3b98f90f01a055cad541b" type="text/javascript"></script>
        <a id="wzayd" title="盲人朋友在线浏览按住Alt+g键" href="javascript:;" class="wzayd" accesskey="g">无障碍阅读</a>
    </div>
</header>
<h1>星瞳网</h1>
<div class="itro">
    <p><i class="fa-solid fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;这个网站的名字叫“星瞳网”，星瞳的意思是像星星一样的眼睛，身体健全的人们固然可以沐浴灿烂的阳光，在网络技术较为发达的当下便捷地接触所有知识，但总有人只能在黑暗里踽踽独行，所以我们愿意化作繁星点燃夜空，为残障人士照亮前进的路，帮助他们克服身体的残障，打开心灵的窗口，平等地学习知识。</p>
    <p><i class="fa-solid fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;技术向善，该项目的四位开发者愿意用实践回报社会和学校对自己的培养。</p>
    <p><i class="fa-solid fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;倡导残疾人自强不息，用努力填平命运的鸿沟，我们所能做的就是让残障人士付出相同的努力可以取得远比之前大得多的成果。</p>
    <p><i class="fa-solid fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;习总书记曾说：“让广大残疾人安居乐业、衣食无忧，过上幸福美好的生活，是我们党全心全意为人民服务宗旨的重要体现，是我国社会主义制度的必然要求”。作为立志成为成为契合国家发展需要的高端软件人才的计算机专业学生，我们将牢记总书记的谆谆嘱托，愿意用代码和AI（人工智能）协助各级残联组织和各部门保障残疾人基本民生、改善残疾人生活品质、促进残疾人全面发展，充分保障残疾人生活、教育、就业等权利，为残疾人谋福祉，推动残疾人事业高质量发展。</p>
</div>
</body>
</html>